#follower-container{
    background: white;
    width: 100%;
    padding: 10px;
}
#follower-list{
    flex: 1;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

#follower-list>li
{
    list-style: none;
    padding: 10px 25px;
    display: flex;
    gap: 25px;
}

.follower-img{
    border-radius: 25px;
    height: 45px;
    width: 45px;
}

#follower-list>li>div
{
    flex-grow: 1;
    display: flex;
    gap: 25px;
    cursor: pointer;
}

.follower-username{
    display: block;
    height: 35%;
    font-weight: 600;
}

.follower-name{
    font-size: .70rem;   
    color: gray;
}

li#no-content
{
    font-size: large;
    color: gray;
}

.remove-follower
{
    border-radius: 8px;
    border: 2px solid rgba(66, 66, 66, 0.100);
    background-color: white;
    font-weight: 600;
    font-size: .9rem;
    padding: 0 12px;
    margin-top: 2px;
    margin-bottom: 12px;
    float: right;
}