#register-form{
    padding: 10px 20px;
    width: 30%;
    position: absolute;
    left: 50%;
    top: 54%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    border: 2px solid #e8e6e6;
    background: white;
    text-align: center;
}
#register-form>div{
    margin: 7px;
    text-align: left;
    position: relative;
}
.fa-eye
{
    position: absolute;
    color: rgb(162, 162, 162);
    top: 36px;
    right: 15px;
    cursor: pointer;
}
#register-form #bio
{
    height: 20px;
    resize: none;
}
#pic
{
    width: 100%;
    margin: 10px 0;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
}
input::file-selector-button
{
    background: rgb(68, 63, 69);
    border: none;
    color: white;
    padding: 5px 10px;
}
#submit-btn
{
    display: block;
    margin-bottom: 5px;
}
#log-in-link
{
    font-size: 14px;
    color: rgb(148, 148, 148);
    text-decoration: none;
}