#main-div
{
    width: 35%;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);  */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-origin: padding-box; 
    background-clip: border-box;  
    min-height: 100vh;
}
#top
{
    background-color: white!important;
    border-bottom: 3px solid rgba(66, 66, 66, 0.050);;
}
#content
{
    flex: 1;
    display: flex;
}
#bottom{
    align-self: flex-end;
    width: 100%;
    display: none;
}
a
{
    cursor: pointer;
}

